app/page/contact.pug
extends  layout/main

block variables
    - var title = 'Блог'

block content
    section.page-top-block.contact-page
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-12 col-xs-12")
                    .page-top-left
                        h2 Контакты
                        .address-block
                            .address-box
                                .title Адрес:
                                .address
                                    span Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50
                                    a.map-button(href="#" id='novosib-map')
                                .address
                                    span 195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н
                                    a.map-button(href="#" id='sanck-map')
                            .address-box
                                .title Телефон:
                                .phone г. Новосибирск: &nbsp
                                    a(href="tel:+79039000784") +7-903-900-07-84
                                .phone г. Новосибирск: &nbsp
                                    a(href="tel:+79039000784") +7-903-900-07-84
                            .address-box
                                .title Email:
                                .email
                                    a(href="email:cad.nsk@yandex.ru") cad.nsk@yandex.ru
                            .address-box
                                .title Social:
                                .social-block
                                    a(href="#")
                                        img(src="img/linkedin.svg")
                                    a(href="#")
                                        img(src="img/googleplus.svg")
                                    a(href="#")
                                        img(src="img/twitter.svg")
                                    a(href="#")
                                        img(src="img/face.svg")
                div(class="col-lg-8 col-md-8 col-sm-12 col-xs-12")
                    .page-top-right
                        .map-block(id="map")
    section.contact-bottom
        .container
            .form-block.wow.fadeInRight
                h4 Свяжитесь с нашим менеджером
                form(action="" id="contact-form")
                    .input-block
                        input.in_name(type="text" name="name" placeholder="Имя*")
                    .input-block
                        input.in_phone(type="text" name="phone" placeholder="Телефон*")
                    .input-block
                        input.in_email(type="email" name="email" placeholder="Email*")
                    .textarea-block
                        label Cообщение:
                        textarea
                    .submit-block
                        input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="button color-accent border-accent")
block script
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFyM7FK25Yu55AqeRoQMPybOqgG3dB5gY&callback=initMap" async defer)

dist/contact.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Блог</title>
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--script( src="https://use.fontawesome.com/b10e62c34a.js")-->
  </head>
  <body>
    <div class="preloader" id="preload">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrapper">
            <div class="logo-block"><a class="logo" href="#"><img src="img/logo.jpg"></a></div>
            <div class="left">
              <div class="mobile-button"><a href="#" id="menu-open"><span class="hamburger hamburger--collapse"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a></div>
              <div class="main-menu">
                <div class="main-menu-top"><a class="button-close" href="#" id="menu-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">Меню</div>
                </div>
                <ul class="menu mobile-ul">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#">О компани</a></li>
                  <li><a href="#">Проекты</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div class="lang-mobile-block">
                <div class="mobile-top"><a class="button-close" href="#" id="lang-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">ЯЗЫК</div>
                </div>
                <ul class="mobile-ul">
                  <li class="active"><a href="#">руский</a></li>
                  <li><a href="#">english</a></li>
                </ul>
              </div><a class="callback button" href="#" id="callback" data-fancybox data-src="#contact-form-block">СДЕЛАТЬ ЗАКАЗ</a>
              <div class="lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
              <div class="mob-lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="page-top-block contact-page">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="page-top-left">
                <h2>Контакты</h2>
                <div class="address-block">
                  <div class="address-box">
                    <div class="title">Адрес:</div>
                    <div class="address"><span>Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50</span><a class="map-button" href="#" id="novosib-map"></a></div>
                    <div class="address"><span>195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н</span><a class="map-button" href="#" id="sanck-map"></a></div>
                  </div>
                  <div class="address-box">
                    <div class="title">Телефон:</div>
                    <div class="phone">г. Новосибирск: &nbsp<a href="tel:+79039000784">+7-903-900-07-84</a></div>
                    <div class="phone">г. Новосибирск: &nbsp<a href="tel:+79039000784">+7-903-900-07-84</a></div>
                  </div>
                  <div class="address-box">
                    <div class="title">Email:</div>
                    <div class="email"><a href="email:cad.nsk@yandex.ru">cad.nsk@yandex.ru</a></div>
                  </div>
                  <div class="address-box">
                    <div class="title">Social:</div>
                    <div class="social-block"><a href="#"><img src="img/linkedin.svg"></a><a href="#"><img src="img/googleplus.svg"></a><a href="#"><img src="img/twitter.svg"></a><a href="#"><img src="img/face.svg"></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="page-top-right">
                <div class="map-block" id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-bottom">
        <div class="container">
          <div class="form-block wow fadeInRight">
            <h4>Свяжитесь с нашим менеджером</h4>
            <form action="" id="contact-form">
              <div class="input-block">
                <input class="in_name" type="text" name="name" placeholder="Имя*">
              </div>
              <div class="input-block">
                <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
              </div>
              <div class="input-block">
                <input class="in_email" type="email" name="email" placeholder="Email*">
              </div>
              <div class="textarea-block">
                <label>Cообщение:</label>
                <textarea></textarea>
              </div>
              <div class="submit-block">
                <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
              </div>
            </form>
          </div>
        </div>
      </section>
      <footer><span class="footer-span">Все права защищены, 2017</span></footer>
      <div class="modal-thank" id="thank-modal">
        <div class="title">Спасибо!</div>
        <div class="text">Наш менеджер свяжеться  с Вами в ближайшее время!</div><a class="button color-accent border-accent" href="#" data-fancybox-close>ЗАКРЫТЬ</a>
      </div>
      <div class="form-block modal-contact-form" id="contact-form-block">
        <h4>Свяжитесь с нашим менеджером</h4>
        <form action="" id="contact-form2">
          <div class="input-block">
            <input class="in_name" type="text" name="name" placeholder="Имя*">
          </div>
          <div class="input-block">
            <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
          </div>
          <div class="input-block">
            <input class="in_email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="textarea-block">
            <label>Cообщение:</label>
            <textarea></textarea>
          </div>
          <div class="submit-block">
            <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
          </div>
        </form>
      </div>
    </div>
    <script src="js/scripts.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFyM7FK25Yu55AqeRoQMPybOqgG3dB5gY&amp;callback=initMap" async defer></script>
  </body>
</html>
