app/page/index.pug
extends  layout/main

block variables
    - var title = 'Главная страница'

block content
    section.home-top
        .container
            .home-slide-wrapper.row
                ul.count-index-slide
                    li.index(id="index-slide") 01
                    li /
                    li.count(id="count-slide") 04
                .left.my-col
                .right.my-col
                    .home-slider(id="slider-top")
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/top.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/2.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/3.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
                        div
                            .home-slide
                                h2 СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА
                                .img-block
                                    img(src="img/4.jpg")
                                .text  мы создаем, чтобы Вы получали удовольствие
    section.home-about-us
        .text-block-left.wow.fadeInLeft
            .title “Студия Архитектуры и Дизайна”
            .sub-title современный и эксклюзивный дизайн Вашего дома
        .text-block-right.wow.fadeInRight
            a(href="#" class="button-strela" id='strela')
                img(src="img/strela.svg")
            p ООО «Студия Архитектуры и Дизайна», возглавляемая Чепуриной Ларисой Геннадьевной‚работает на рынке дизайна и проектных услугс 2003 года.
            p Работы студии широко известны по Сибирскому региону и представлены рядом интересных проектов в Москве и Санкт-Петербурге.
            p Студия также имеет опыт работы за рубежом,а именно Казахстан‚Чехия и Финляндия.
            .title Мы оказываем услуги:
            ul
                each val in ['Архитектурное проектирование','Дизайн интерьеров','Ландшафтный дизайн','Декорирование, освещение, подбор мебели','Согласование, авторский надзор']
                    li
                        a(href="#")= val
        .absolute-block.wow.fadeIn
            .img-block
                img(src="img/20002.jpg")
    section.our-achievements
     .container
         h3.color-white Наши достижения
         .row(id="counts")
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 15
                     span.text лет стабильной работы
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 94
                     span.text реализованных проектов
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 11
                     span.text городов по всему миру
             div(class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box")
                 .achievement-block
                     span.count.spincrement 04
                     span.text страны, в которых мы работаем
    section.our-comand
        .container
            h3 Наша команда
            .sub-title это талантиливые и амбициозные дизайнеры и архитекторы
            .comand-slider-top.wow.fadeInDown
                div
                    .comand-big-block(id="slide1")
                        .img-block
                            img(src="img/2388.jpg")
                        .text-block
                            .title Александра Протасова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide2")
                        .img-block
                            img(src="img/2352.jpg")
                        .text-block
                            .title Антон Гук
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide3")
                        .img-block
                            img(src="img/2306.jpg")
                        .text-block
                            .title Константин Лаптев
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide4" class="active")
                        .img-block
                            img(src="img/2246.jpg")
                        .text-block
                            .title Лариса Геннадьевна Чепурина
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide5")
                        .img-block
                            img(src="img/2120.jpg")
                        .text-block
                            .title Татьяна Сухорукова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
                div
                    .comand-big-block(id="slide6")
                        .img-block
                            img(src="img/2323.jpg")
                        .text-block
                            .title Ксения Маликова
                            .desc Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.
            .comand-slider-bottom
                a.comand-smal-block(href="#" data-slide="slide2")
                    .img-block
                        img(src="img/2352.jpg")
                    .title Антон Гук
                a.comand-smal-block(href="#" data-slide="slide3")
                    .img-block
                        img(src="img/2306.jpg")
                    .title Константин Лаптев
                a.comand-smal-block(href="#" data-slide="slide4")
                    .img-block
                        img(src="img/2246.jpg")
                    .title Лариса Геннадьевна Чепурина
                a.comand-smal-block(href="#" data-slide="slide5")
                    .img-block
                        img(src="img/2120.jpg")
                    .title Татьяна Сухорукова
                a.comand-smal-block(href="#" data-slide="slide1")
                    .img-block
                        img(src="img/2388.jpg")
                    .title Александра Протасова
                a.comand-smal-block(href="#" data-slide="slide6")
                    .img-block
                        img(src="img/2323.jpg")
                    .title Ксения Маликова
    section.our-services
        .container
            h3.color-white Наши услуги
            .sub-title.color-white качество оказываемых нами услуг залог надежного сотрудничества
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInLeft
                        .img-block
                            img(src="img/prepare.svg")
                        .title Предпроектная подготовка
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInDown
                        .img-block
                            img(src="img/artist.svg")
                        .title Дизайн
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInRight
                        .img-block
                            img(src="img/nadzor.svg")
                        .title Авторский надзор
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInLeft
                        .img-block
                            img(src="img/project.svg")
                        .title Проектирование
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInUp
                        .img-block
                            img(src="img/Vector.svg")
                        .title Перепланировка и реконструкция
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col")
                    .services-block.wow.fadeInRight
                        .img-block
                            img(src="img/vastru shastra.svg")
                        .title Вастру Шастра
                        .desc Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.
    section.home-project
        .container
            h3 Проекты
            .sub-title Проекты изменившие жизнь к лучшему
            .tabs-block
                .tabs-top
                    .title Все проекты
                    span.arrow.rotate90
                        img(src="img/arrow-rite.svg")
                ul.tabs-ul-mobile
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li.no-active
                        a(href="#" data-project="project-completed") Завершенные
                    li.no-active
                        a(href="#" data-project="project-during") В процессе
                ul.tabs-ul-desktop
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li
                        a(href="#" data-project="project-completed") Завершенные
                    li
                        a(href="#" data-project="project-during") В процессе
            .home-project-wrapper
                .row
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInDown
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInUp
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInLeft
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInUp
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a(href="#").button ПОДРОБНЕЕ
                    div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed")
                        .project-block( style="background: url(img/1.jpg) center/cover no-repeat").wow.fadeInRight
                            .absolute-block
                                .title Дом в стиле Хай Тек
                                ul
                                    li
                                        a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                                    li
                                        a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                                    li
                                        a(href="#") АРХИТЕКТУРА
                                a( href="#" ).button ПОДРОБНЕЕ
                    div(class="col-lg-12 col-md-12 col-sm-6 col-xs-12 project-col project-col-button")
                        a(class="all-project-button button color-accent border-accent" href="#") ЕЩЕ ПРОЕКТЫ
    section.citata-block
        .author-wrapper
            .img-block.wow.fadeInLeft
                img(src="img/Joe.png")
            .text-block.wow.fadeInRight
                .citata «Хороший дизайн виден сразу.  Отличный дизайн незаметен»
                .author-name Джо Спарано
                .author-prof дизайнер интерьеров
    section.home-contact
        h3 Контакты
        .sub-title свяжитесь с нами и мы обсудим Ваш проект
        .contact-wrapper
            .address-block.fadeInLeft.wow
                .address-box
                    .title Адрес:
                    .address Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50
                    .address 195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н
                .address-box
                    .title Телефон:
                    .phone г. Новосибирск: &nbsp
                        a(href="tel:+79039000784") +7-903-900-07-84
                    .phone г. Новосибирск: &nbsp
                        a(href="tel:+79039000784") +7-903-900-07-84
                .address-box
                    .title Email:
                    .email
                        a(href="email:cad.nsk@yandex.ru") cad.nsk@yandex.ru
                .address-box
                    .title Social:
                    .social-block
                        a(href="#")
                            img(src="img/linkedin.svg")
                        a(href="#")
                            img(src="img/googleplus.svg")
                        a(href="#")
                            img(src="img/twitter.svg")
                        a(href="#")
                            img(src="img/face.svg")

            .form-block.wow.fadeInRight
                h4 Свяжитесь с нашим менеджером
                form(action="" id="contact-form")
                    .input-block
                        input.in_name(type="text" name="name" placeholder="Имя*")
                    .input-block
                        input.in_phone(type="text" name="phone" placeholder="Телефон*")
                    .input-block
                        input.in_email(type="email" name="email" placeholder="Email*")
                    .textarea-block
                        label Cообщение:
                        textarea
                    .submit-block
                        input(type="submit" value="ОТПРАВИТЬ ЗАЯВКУ" class="button color-accent border-accent")

app/index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--script( src="https://use.fontawesome.com/b10e62c34a.js")-->
  </head>
  <body>
    <div class="preloader" id="preload">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrapper">
            <div class="logo-block"><a class="logo" href="#"><img src="img/logo.jpg"></a></div>
            <div class="left">
              <div class="mobile-button"><a href="#" id="menu-open"><span class="hamburger hamburger--collapse"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a></div>
              <div class="main-menu">
                <div class="main-menu-top"><a class="button-close" href="#" id="menu-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">Меню</div>
                </div>
                <ul class="menu mobile-ul">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#">О компани</a></li>
                  <li><a href="#">Проекты</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div class="lang-mobile-block">
                <div class="mobile-top"><a class="button-close" href="#" id="lang-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">ЯЗЫК</div>
                </div>
                <ul class="mobile-ul">
                  <li class="active"><a href="#">руский</a></li>
                  <li><a href="#">english</a></li>
                </ul>
              </div><a class="callback button" href="#" id="callback" data-fancybox data-src="#contact-form-block">СДЕЛАТЬ ЗАКАЗ</a>
              <div class="lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
              <div class="mob-lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="home-top">
        <div class="container">
          <div class="home-slide-wrapper row">
            <ul class="count-index-slide">
              <li class="index" id="index-slide">01</li>
              <li>/</li>
              <li class="count" id="count-slide">04</li>
            </ul>
            <div class="left my-col"></div>
            <div class="right my-col">
              <div class="home-slider" id="slider-top">
                <div>
                  <div class="home-slide">
                    <h2>СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА</h2>
                    <div class="img-block"><img src="img/top.jpg"></div>
                    <div class="text"> мы создаем, чтобы Вы получали удовольствие</div>
                  </div>
                </div>
                <div>
                  <div class="home-slide">
                    <h2>СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА</h2>
                    <div class="img-block"><img src="img/2.jpg"></div>
                    <div class="text"> мы создаем, чтобы Вы получали удовольствие</div>
                  </div>
                </div>
                <div>
                  <div class="home-slide">
                    <h2>СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА</h2>
                    <div class="img-block"><img src="img/3.jpg"></div>
                    <div class="text"> мы создаем, чтобы Вы получали удовольствие</div>
                  </div>
                </div>
                <div>
                  <div class="home-slide">
                    <h2>СТУДИЯ АРХИТЕКТУРЫ И ДИЗАЙНА</h2>
                    <div class="img-block"><img src="img/4.jpg"></div>
                    <div class="text"> мы создаем, чтобы Вы получали удовольствие</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-about-us">
        <div class="text-block-left wow fadeInLeft">
          <div class="title">“Студия Архитектуры и Дизайна”</div>
          <div class="sub-title">современный и эксклюзивный дизайн Вашего дома</div>
        </div>
        <div class="text-block-right wow fadeInRight"><a class="button-strela" href="#" id="strela"><img src="img/strela.svg"></a>
          <p>ООО «Студия Архитектуры и Дизайна», возглавляемая Чепуриной Ларисой Геннадьевной‚работает на рынке дизайна и проектных услугс 2003 года.</p>
          <p>Работы студии широко известны по Сибирскому региону и представлены рядом интересных проектов в Москве и Санкт-Петербурге.</p>
          <p>Студия также имеет опыт работы за рубежом,а именно Казахстан‚Чехия и Финляндия.</p>
          <div class="title">Мы оказываем услуги:</div>
          <ul>
            <li><a href="#">Архитектурное проектирование</a></li>
            <li><a href="#">Дизайн интерьеров</a></li>
            <li><a href="#">Ландшафтный дизайн</a></li>
            <li><a href="#">Декорирование, освещение, подбор мебели</a></li>
            <li><a href="#">Согласование, авторский надзор</a></li>
          </ul>
        </div>
        <div class="absolute-block wow fadeIn">
          <div class="img-block"><img src="img/20002.jpg"></div>
        </div>
      </section>
      <section class="our-achievements">
        <div class="container">
          <h3 class="color-white">Наши достижения</h3>
          <div class="row" id="counts">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box">
              <div class="achievement-block"><span class="count spincrement">15</span><span class="text">лет стабильной работы</span></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box">
              <div class="achievement-block"><span class="count spincrement">94</span><span class="text">реализованных проектов</span></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box">
              <div class="achievement-block"><span class="count spincrement">11</span><span class="text">городов по всему миру</span></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 achievement-box">
              <div class="achievement-block"><span class="count spincrement">04</span><span class="text">страны, в которых мы работаем</span></div>
            </div>
          </div>
        </div>
      </section>
      <section class="our-comand">
        <div class="container">
          <h3>Наша команда</h3>
          <div class="sub-title">это талантиливые и амбициозные дизайнеры и архитекторы</div>
          <div class="comand-slider-top wow fadeInDown">
            <div>
              <div class="comand-big-block" id="slide1">
                <div class="img-block"><img src="img/2388.jpg"></div>
                <div class="text-block">
                  <div class="title">Александра Протасова</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
            <div>
              <div class="comand-big-block" id="slide2">
                <div class="img-block"><img src="img/2352.jpg"></div>
                <div class="text-block">
                  <div class="title">Антон Гук</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
            <div>
              <div class="comand-big-block" id="slide3">
                <div class="img-block"><img src="img/2306.jpg"></div>
                <div class="text-block">
                  <div class="title">Константин Лаптев</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
            <div>
              <div class="comand-big-block active" id="slide4">
                <div class="img-block"><img src="img/2246.jpg"></div>
                <div class="text-block">
                  <div class="title">Лариса Геннадьевна Чепурина</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
            <div>
              <div class="comand-big-block" id="slide5">
                <div class="img-block"><img src="img/2120.jpg"></div>
                <div class="text-block">
                  <div class="title">Татьяна Сухорукова</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
            <div>
              <div class="comand-big-block" id="slide6">
                <div class="img-block"><img src="img/2323.jpg"></div>
                <div class="text-block">
                  <div class="title">Ксения Маликова</div>
                  <div class="desc">Квалифицированный специалист, который на профессиональной основе осуществляет архитектурное проектирование.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="comand-slider-bottom"><a class="comand-smal-block" href="#" data-slide="slide2">
              <div class="img-block"><img src="img/2352.jpg"></div>
              <div class="title">Антон Гук</div></a><a class="comand-smal-block" href="#" data-slide="slide3">
              <div class="img-block"><img src="img/2306.jpg"></div>
              <div class="title">Константин Лаптев</div></a><a class="comand-smal-block" href="#" data-slide="slide4">
              <div class="img-block"><img src="img/2246.jpg"></div>
              <div class="title">Лариса Геннадьевна Чепурина</div></a><a class="comand-smal-block" href="#" data-slide="slide5">
              <div class="img-block"><img src="img/2120.jpg"></div>
              <div class="title">Татьяна Сухорукова</div></a><a class="comand-smal-block" href="#" data-slide="slide1">
              <div class="img-block"><img src="img/2388.jpg"></div>
              <div class="title">Александра Протасова</div></a><a class="comand-smal-block" href="#" data-slide="slide6">
              <div class="img-block"><img src="img/2323.jpg"></div>
              <div class="title">Ксения Маликова</div></a></div>
        </div>
      </section>
      <section class="our-services">
        <div class="container">
          <h3 class="color-white">Наши услуги</h3>
          <div class="sub-title color-white">качество оказываемых нами услуг залог надежного сотрудничества</div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInLeft">
                <div class="img-block"><img src="img/prepare.svg"></div>
                <div class="title">Предпроектная подготовка</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInDown">
                <div class="img-block"><img src="img/artist.svg"></div>
                <div class="title">Дизайн</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInRight">
                <div class="img-block"><img src="img/nadzor.svg"></div>
                <div class="title">Авторский надзор</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInLeft">
                <div class="img-block"><img src="img/project.svg"></div>
                <div class="title">Проектирование</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInUp">
                <div class="img-block"><img src="img/Vector.svg"></div>
                <div class="title">Перепланировка и реконструкция</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 services-col">
              <div class="services-block wow fadeInRight">
                <div class="img-block"><img src="img/vastru shastra.svg"></div>
                <div class="title">Вастру Шастра</div>
                <div class="desc">Цель нашей работы сделать среду обитания наших заказчиков красивой и гармоничной.</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="home-project">
        <div class="container">
          <h3>Проекты</h3>
          <div class="sub-title">Проекты изменившие жизнь к лучшему</div>
          <div class="tabs-block">
            <div class="tabs-top">
              <div class="title">Все проекты</div><span class="arrow rotate90"><img src="img/arrow-rite.svg"></span>
            </div>
            <ul class="tabs-ul-mobile">
              <li class="active"><a href="#" data-project="project-col">Все проекты</a></li>
              <li class="no-active"><a href="#" data-project="project-completed">Завершенные</a></li>
              <li class="no-active"><a href="#" data-project="project-during">В процессе</a></li>
            </ul>
            <ul class="tabs-ul-desktop">
              <li class="active"><a href="#" data-project="project-col">Все проекты</a></li>
              <li><a href="#" data-project="project-completed">Завершенные</a></li>
              <li><a href="#" data-project="project-during">В процессе</a></li>
            </ul>
          </div>
          <div class="home-project-wrapper">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during">
                <div class="project-block wow fadeInLeft" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed">
                <div class="project-block wow fadeInDown" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during">
                <div class="project-block wow fadeInRight" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed">
                <div class="project-block wow fadeInLeft" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during">
                <div class="project-block wow fadeInUp" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed">
                <div class="project-block wow fadeInRight" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed">
                <div class="project-block wow fadeInLeft" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-during">
                <div class="project-block wow fadeInUp" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 project-col project-completed">
                <div class="project-block wow fadeInRight" style="background: url(img/1.jpg) center/cover no-repeat;">
                  <div class="absolute-block">
                    <div class="title">Дом в стиле Хай Тек</div>
                    <ul>
                      <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                      <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                      <li><a href="#">АРХИТЕКТУРА</a></li>
                    </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 project-col project-col-button"><a class="all-project-button button color-accent border-accent" href="#">ЕЩЕ ПРОЕКТЫ</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="citata-block">
        <div class="author-wrapper">
          <div class="img-block wow fadeInLeft"><img src="img/Joe.png"></div>
          <div class="text-block wow fadeInRight">
            <div class="citata">«Хороший дизайн виден сразу.  Отличный дизайн незаметен»</div>
            <div class="author-name">Джо Спарано</div>
            <div class="author-prof">дизайнер интерьеров</div>
          </div>
        </div>
      </section>
      <section class="home-contact">
        <h3>Контакты</h3>
        <div class="sub-title">свяжитесь с нами и мы обсудим Ваш проект</div>
        <div class="contact-wrapper">
          <div class="address-block fadeInLeft wow">
            <div class="address-box">
              <div class="title">Адрес:</div>
              <div class="address">Россия, 630005 <strong>г. Новосибирск</strong>, <br>ул. Октябрьская, 79, к.50</div>
              <div class="address">195112 г. <strong>Санкт-Петербург</strong>, <br> Малоохтинский пр-т 16, офис 3Н</div>
            </div>
            <div class="address-box">
              <div class="title">Телефон:</div>
              <div class="phone">г. Новосибирск: &nbsp<a href="tel:+79039000784">+7-903-900-07-84</a></div>
              <div class="phone">г. Новосибирск: &nbsp<a href="tel:+79039000784">+7-903-900-07-84</a></div>
            </div>
            <div class="address-box">
              <div class="title">Email:</div>
              <div class="email"><a href="email:cad.nsk@yandex.ru">cad.nsk@yandex.ru</a></div>
            </div>
            <div class="address-box">
              <div class="title">Social:</div>
              <div class="social-block"><a href="#"><img src="img/linkedin.svg"></a><a href="#"><img src="img/googleplus.svg"></a><a href="#"><img src="img/twitter.svg"></a><a href="#"><img src="img/face.svg"></a></div>
            </div>
          </div>
          <div class="form-block wow fadeInRight">
            <h4>Свяжитесь с нашим менеджером</h4>
            <form action="" id="contact-form">
              <div class="input-block">
                <input class="in_name" type="text" name="name" placeholder="Имя*">
              </div>
              <div class="input-block">
                <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
              </div>
              <div class="input-block">
                <input class="in_email" type="email" name="email" placeholder="Email*">
              </div>
              <div class="textarea-block">
                <label>Cообщение:</label>
                <textarea></textarea>
              </div>
              <div class="submit-block">
                <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
              </div>
            </form>
          </div>
        </div>
      </section>
      <footer><span class="footer-span">Все права защищены, 2017</span></footer>
      <div class="modal-thank" id="thank-modal">
        <div class="title">Спасибо!</div>
        <div class="text">Наш менеджер свяжеться  с Вами в ближайшее время!</div><a class="button color-accent border-accent" href="#" data-fancybox-close>ЗАКРЫТЬ</a>
      </div>
      <div class="form-block modal-contact-form" id="contact-form-block">
        <h4>Свяжитесь с нашим менеджером</h4>
        <form action="" id="contact-form2">
          <div class="input-block">
            <input class="in_name" type="text" name="name" placeholder="Имя*">
          </div>
          <div class="input-block">
            <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
          </div>
          <div class="input-block">
            <input class="in_email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="textarea-block">
            <label>Cообщение:</label>
            <textarea></textarea>
          </div>
          <div class="submit-block">
            <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
          </div>
        </form>
      </div>
    </div>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
