app/page/one-blog.pug
extends  layout/main

block variables
    - var title = 'Статья'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Блог
                        .sub-title полезная информация и новости нашей компании
                        .page-top-category-block
                            .title Все проекты
                            ul
                                each val in [ 'Архитектура', 'Графика', 'Дизайн интерьера', 'Предметы интерьера' ]
                                    li
                                        a( href="#" )= val
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.one-blog
        .container
            .category-block
                .title
                    span Все проекты
                    i(class="fa fa-angle-right" aria-hidden="true").rotate90
                ul.dropdown-ul-first
                    li
                        a
                            span Архитектура
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Графика
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Дизайн интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Предметы интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе




            h3 Будь в тренде: 8 модных образов  интерьера
            .img-block
                img( src="img/1.jpg" )
            p Удивительно, с каким энтузиазмом мы каждый год готовимся к рождественским праздникам. И чем ближе событие, тем больше суеты замечаешь вокруг. Но согласись, это все-таки приятный круговорот дел, после которого следует долгожданный отдых. Стилисты и декораторы в этом году предлагают украшать свой дом, базируясь на собственном чувстве стиля и ритме жизни. Например, если ты великий консерватор, то можете смело отдавать предпочтение традиционному убранству, если ты экспериментатор – фантазируй и находи свое решение в смешении фактур и деталей.
            p При этом нам рекомендуют не пренебрегать общими тенденциями, которые прозвучали уже не только в сфере интерьеров, но и в модной индустрии. Так, среди них на пике популярности по-прежнему находятся геометрические принты, цветочные узоры на темном фоне, золото, медь, а также бархатные ткани и сверкающие поверхности. Пикантности столь традиционному празднику можно придать, если вместо привычной уже звезды добавить на верхушку елки необычное украшение.
            p Большое внимание трендсеттеры уделили значению цвета. Можно сказать, что сегодня, правильно выбранный тон в сочетании с подходящей фактурой – чуть ли не главные составляющие твоего успеха.
            p В целом же, чтобы окончательно не запутаться, мы собрали для тебя восемь модных образов новогоднего интерьера, в основе каждого из которых лежит тот или иной цвет.
            p Скорее смотрим!
            p 1. Меднокаменный век В основе этого образа лежит палитра из разнообразия медных, терракотовых и бронзовых оттенков.
            p Фото: Half Baked Harvest, Broste Здесь важно использовать цветовую гамму в полной мере – от светлого тона до темного, чтобы получить нужные контрасты.
            p Стоит отдать предпочтение некоторым деталям декора с глянцевой поверхностью – таким образом, обстановка будет выглядеть более праздничной.
            .one-project-buttons
                a(href="#" class="project-prev button color-accent border-accent")
                    svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square")
                            g(id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17")
                                path(d="M159.5,76.5 L112.5,76.5" id="Line-5")
                                path(id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z")
                    span ПРЕДЫДУЩИЙ ПРОЕКТ
                a(href="#" class="project-next button color-accent border-accent" )
                    span СЛЕДУЮЩИЙ ПРОЕКТ
                    svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                        g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square")
                            g(id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17")
                                path(d="M544.5,16.5 L591.5,16.5" id="Line-5")
                                path(id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z")

app/one-blog.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Статья</title>
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--script( src="https://use.fontawesome.com/b10e62c34a.js")-->
  </head>
  <body>
    <div class="preloader" id="preload">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrapper">
            <div class="logo-block"><a class="logo" href="#"><img src="img/logo.jpg"></a></div>
            <div class="left">
              <div class="mobile-button"><a href="#" id="menu-open"><span class="hamburger hamburger--collapse"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a></div>
              <div class="main-menu">
                <div class="main-menu-top"><a class="button-close" href="#" id="menu-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">Меню</div>
                </div>
                <ul class="menu mobile-ul">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#">О компани</a></li>
                  <li><a href="#">Проекты</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div class="lang-mobile-block">
                <div class="mobile-top"><a class="button-close" href="#" id="lang-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">ЯЗЫК</div>
                </div>
                <ul class="mobile-ul">
                  <li class="active"><a href="#">руский</a></li>
                  <li><a href="#">english</a></li>
                </ul>
              </div><a class="callback button" href="#" id="callback" data-fancybox data-src="#contact-form-block">СДЕЛАТЬ ЗАКАЗ</a>
              <div class="lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
              <div class="mob-lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="page-top-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col">
              <div class="page-top-left">
                <h2>Блог</h2>
                <div class="sub-title">полезная информация и новости нашей компании</div>
                <div class="page-top-category-block">
                  <div class="title">Все проекты</div>
                  <ul>
                    <li><a href="#">Архитектура</a></li>
                    <li><a href="#">Графика</a></li>
                    <li><a href="#">Дизайн интерьера</a></li>
                    <li><a href="#">Предметы интерьера</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col">
              <div class="page-top-right"><img src="img/1.jpg"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="one-blog">
        <div class="container">
          <div class="category-block">
            <div class="title"><span>Все проекты</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></div>
            <ul class="dropdown-ul-first">
              <li><a><span>Архитектура</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Графика</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Дизайн интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Предметы интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <h3>Будь в тренде: 8 модных образов  интерьера</h3>
          <div class="img-block"><img src="img/1.jpg"></div>
          <p>Удивительно, с каким энтузиазмом мы каждый год готовимся к рождественским праздникам. И чем ближе событие, тем больше суеты замечаешь вокруг. Но согласись, это все-таки приятный круговорот дел, после которого следует долгожданный отдых. Стилисты и декораторы в этом году предлагают украшать свой дом, базируясь на собственном чувстве стиля и ритме жизни. Например, если ты великий консерватор, то можете смело отдавать предпочтение традиционному убранству, если ты экспериментатор – фантазируй и находи свое решение в смешении фактур и деталей.</p>
          <p>При этом нам рекомендуют не пренебрегать общими тенденциями, которые прозвучали уже не только в сфере интерьеров, но и в модной индустрии. Так, среди них на пике популярности по-прежнему находятся геометрические принты, цветочные узоры на темном фоне, золото, медь, а также бархатные ткани и сверкающие поверхности. Пикантности столь традиционному празднику можно придать, если вместо привычной уже звезды добавить на верхушку елки необычное украшение.</p>
          <p>Большое внимание трендсеттеры уделили значению цвета. Можно сказать, что сегодня, правильно выбранный тон в сочетании с подходящей фактурой – чуть ли не главные составляющие твоего успеха.</p>
          <p>В целом же, чтобы окончательно не запутаться, мы собрали для тебя восемь модных образов новогоднего интерьера, в основе каждого из которых лежит тот или иной цвет.</p>
          <p>Скорее смотрим!</p>
          <p>1. Меднокаменный век В основе этого образа лежит палитра из разнообразия медных, терракотовых и бронзовых оттенков.</p>
          <p>Фото: Half Baked Harvest, Broste Здесь важно использовать цветовую гамму в полной мере – от светлого тона до темного, чтобы получить нужные контрасты.</p>
          <p>Стоит отдать предпочтение некоторым деталям декора с глянцевой поверхностью – таким образом, обстановка будет выглядеть более праздничной.</p>
          <div class="one-project-buttons"><a class="project-prev button color-accent border-accent" href="#">
              <svg width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square">
                  <g id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17">
                    <path d="M159.5,76.5 L112.5,76.5" id="Line-5"></path>
                    <path id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z"></path>
                  </g>
                </g>
              </svg><span>ПРЕДЫДУЩИЙ ПРОЕКТ</span></a><a class="project-next button color-accent border-accent" href="#"><span>СЛЕДУЮЩИЙ ПРОЕКТ</span>
              <svg width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square">
                  <g id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17">
                    <path d="M544.5,16.5 L591.5,16.5" id="Line-5"></path>
                    <path id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z"></path>
                  </g>
                </g>
              </svg></a></div>
        </div>
      </section>
      <footer><span class="footer-span">Все права защищены, 2017</span></footer>
      <div class="modal-thank" id="thank-modal">
        <div class="title">Спасибо!</div>
        <div class="text">Наш менеджер свяжеться  с Вами в ближайшее время!</div><a class="button color-accent border-accent" href="#" data-fancybox-close>ЗАКРЫТЬ</a>
      </div>
      <div class="form-block modal-contact-form" id="contact-form-block">
        <h4>Свяжитесь с нашим менеджером</h4>
        <form action="" id="contact-form2">
          <div class="input-block">
            <input class="in_name" type="text" name="name" placeholder="Имя*">
          </div>
          <div class="input-block">
            <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
          </div>
          <div class="input-block">
            <input class="in_email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="textarea-block">
            <label>Cообщение:</label>
            <textarea></textarea>
          </div>
          <div class="submit-block">
            <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
          </div>
        </form>
      </div>
    </div>
    <script src="js/scripts.min.js"></script>
  </body>
</html>
