app/project.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Проекты</title>
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--script( src="https://use.fontawesome.com/b10e62c34a.js")-->
  </head>
  <body>
    <div class="preloader" id="preload">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrapper">
            <div class="logo-block"><a class="logo" href="#"><img src="img/logo.jpg"></a></div>
            <div class="left">
              <div class="mobile-button"><a href="#" id="menu-open"><span class="hamburger hamburger--collapse"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a></div>
              <div class="main-menu">
                <div class="main-menu-top"><a class="button-close" href="#" id="menu-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">Меню</div>
                </div>
                <ul class="menu mobile-ul">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#">О компани</a></li>
                  <li><a href="#">Проекты</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div class="lang-mobile-block">
                <div class="mobile-top"><a class="button-close" href="#" id="lang-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">ЯЗЫК</div>
                </div>
                <ul class="mobile-ul">
                  <li class="active"><a href="#">руский</a></li>
                  <li><a href="#">english</a></li>
                </ul>
              </div><a class="callback button" href="#" id="callback" data-fancybox data-src="#contact-form-block">СДЕЛАТЬ ЗАКАЗ</a>
              <div class="lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
              <div class="mob-lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="page-top-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col">
              <div class="page-top-left">
                <h2>Проекты</h2>
                <div class="sub-title">мы не просто строим жилье, мы строим его для Вас.</div>
                <div class="page-top-category-block">
                  <ul>
                    <li><a class="active" href="#">Все проекты</a></li>
                    <li><a href="#">Архитектура</a></li>
                    <li><a href="#">Графика</a></li>
                    <li><a href="#">Дизайн интерьера</a></li>
                    <li><a href="#">Предметы интерьера</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col">
              <div class="page-top-right"><img src="img/1.jpg"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="one-project">
        <div class="container">
          <div class="category-block">
            <div class="title"><span>Все проекты</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></div>
            <ul class="dropdown-ul-first">
              <li><a><span>Архитектура</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Графика</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Дизайн интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Предметы интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class=" col-lg-push-5 col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="one-project-image"><a class="big-img-block" href="#" id="click-big-img-project" data-index="0"><img src="img/1.jpg" id="big-img-project"></a>
                <div class="small-img-block" id="project_slider"><a class="slider-img-project" href="img/1.jpg" data-fancybox="images" data-index="0"><img src="img/1.jpg"></a><a class="slider-img-project" href="img/2.jpg" data-fancybox="images" data-index="1"><img src="img/2.jpg"></a><a class="slider-img-project" href="img/3.jpg" data-fancybox="images" data-index="2"><img src="img/3.jpg"></a><a class="slider-img-project" href="img/4.jpg" data-fancybox="images" data-index="3"><img src="img/4.jpg"></a></div>
              </div>
            </div>
            <div class="col-lg-pull-7 col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="one-project-text">
                <h3>Дом в стиле Хай Тек</h3>
                <p>Представляет современный элегантный дом с гостиной, расположенной с фронтальной стороны. Роскошный экстерьер здания невероятно привлекателен благодаря удачным архитектурным находкам, которые сливаются в общий гармоничный ансамбль.</p>
                <p>Террасы первого и второго уровня, вынесенные к фронтальной плоскости, связывают все детали в единое целое.</p>
                <div class="detail-block">
                  <div class="label">120 м2</div>
                  <div class="value">общая площадь дома</div>
                </div>
                <div class="detail-block">
                  <div class="label">120 м2</div>
                  <div class="value">общая площадь дома</div>
                </div>
                <div class="detail-block">
                  <div class="label">1 месяц</div>
                  <div class="value">от начала работ до реализации</div>
                </div>
              </div>
            </div>
          </div>
          <div class="one-project-buttons"><a class="project-prev button color-accent border-accent" href="#">
              <svg width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square">
                  <g id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17">
                    <path d="M159.5,76.5 L112.5,76.5" id="Line-5"></path>
                    <path id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z"></path>
                  </g>
                </g>
              </svg><span>ПРЕДЫДУЩИЙ ПРОЕКТ</span></a><a class="project-next button color-accent border-accent" href="#"><span>СЛЕДУЮЩИЙ ПРОЕКТ</span>
              <svg width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square">
                  <g id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17">
                    <path d="M544.5,16.5 L591.5,16.5" id="Line-5"></path>
                    <path id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z"></path>
                  </g>
                </g>
              </svg></a></div>
        </div>
      </section>
      <footer><span class="footer-span">Все права защищены, 2017</span></footer>
      <div class="modal-thank" id="thank-modal">
        <div class="title">Спасибо!</div>
        <div class="text">Наш менеджер свяжеться  с Вами в ближайшее время!</div><a class="button color-accent border-accent" href="#" data-fancybox-close>ЗАКРЫТЬ</a>
      </div>
      <div class="form-block modal-contact-form" id="contact-form-block">
        <h4>Свяжитесь с нашим менеджером</h4>
        <form action="" id="contact-form2">
          <div class="input-block">
            <input class="in_name" type="text" name="name" placeholder="Имя*">
          </div>
          <div class="input-block">
            <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
          </div>
          <div class="input-block">
            <input class="in_email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="textarea-block">
            <label>Cообщение:</label>
            <textarea></textarea>
          </div>
          <div class="submit-block">
            <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
          </div>
        </form>
      </div>
    </div>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

app/page/project.pug
extends  layout/main

block variables
    - var title = 'Проекты'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Проекты
                        .sub-title мы не просто строим жилье, мы строим его для Вас.
                        .page-top-category-block
                            ul
                                li
                                    a.active( href="#" ) Все проекты
                                li
                                    a( href="#" ) Архитектура
                                li
                                    a( href="#" ) Графика
                                li
                                    a( href="#" ) Дизайн интерьера
                                li
                                    a( href="#" ) Предметы интерьера
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.one-project
      .container
          .category-block
              .title
                  span Все проекты
                  i(class="fa fa-angle-right" aria-hidden="true").rotate90
              ul.dropdown-ul-first
                  li
                      a
                          span Архитектура
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Графика
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Дизайн интерьера
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе
                  li
                      a
                          span Предметы интерьера
                          i(class="fa fa-angle-right" aria-hidden="true").rotate90
                      ul.dropdown-ul
                          li
                              a Завершенные

                          li
                              a В процессе

          .row
              div(class=" col-lg-push-5 col-lg-7 col-md-12 col-sm-12 col-xs-12")
                  .one-project-image
                      a.big-img-block(href="#" id="click-big-img-project" data-index="0")
                          img(src="img/1.jpg" id="big-img-project")
                      .small-img-block( id="project_slider" )
                          a.slider-img-project(href="img/1.jpg" data-fancybox="images" data-index="0")
                              img(src="img/1.jpg")
                          a.slider-img-project(href="img/2.jpg" data-fancybox="images" data-index="1")
                              img(src="img/2.jpg")
                          a.slider-img-project(href="img/3.jpg" data-fancybox="images" data-index="2")
                              img(src="img/3.jpg")
                          a.slider-img-project(href="img/4.jpg" data-fancybox="images" data-index="3")
                              img(src="img/4.jpg")
              div(class="col-lg-pull-7 col-lg-5 col-md-12 col-sm-12 col-xs-12")
                  .one-project-text
                      h3 Дом в стиле Хай Тек
                      p Представляет современный элегантный дом с гостиной, расположенной с фронтальной стороны. Роскошный экстерьер здания невероятно привлекателен благодаря удачным архитектурным находкам, которые сливаются в общий гармоничный ансамбль.
                      p Террасы первого и второго уровня, вынесенные к фронтальной плоскости, связывают все детали в единое целое.
                      .detail-block
                          .label 120 м2
                          .value общая площадь дома
                      .detail-block
                          .label 120 м2
                          .value общая площадь дома
                      .detail-block
                          .label 1 месяц
                          .value от начала работ до реализации
          .one-project-buttons
              a(href="#" class="project-prev button color-accent border-accent")
                svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                  g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-676.000000, -1830.000000)" stroke-linecap="square")
                      g(id="Group-5" transform="translate(564.000000, 1757.000000)" fill="#1F1A17" stroke="#1F1A17")
                          path(d="M159.5,76.5 L112.5,76.5" id="Line-5")
                          path(id="Line-5-decoration-1" d="M112.5,76.5 L123.3,79.5 L123.3,73.5 L112.5,76.5 Z")
                span ПРЕДЫДУЩИЙ ПРОЕКТ
              a(href="#" class="project-next button color-accent border-accent" )
                span СЛЕДУЮЩИЙ ПРОЕКТ
                svg(width="48px" height="7px" viewBox="0 0 48 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(id="1920---блог-расширенный" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-1196.000000, -1830.000000)" stroke-linecap="square")
                        g(id="Group-5" transform="translate(652.000000, 1817.000000)" fill="#1F1A17" stroke="#1F1A17")
                            path(d="M544.5,16.5 L591.5,16.5" id="Line-5")
                            path(id="Line-5-decoration-1" d="M591.5,16.5 L580.7,13.5 L580.7,19.5 L591.5,16.5 Z")
