app/projects.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <title>Проекты</title>
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Open+Sans:800" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <!--script( src="https://use.fontawesome.com/b10e62c34a.js")-->
  </head>
  <body>
    <div class="preloader" id="preload">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
      </div>
    </div>
    <div class="wrapper">
      <header>
        <div class="container">
          <div class="header-wrapper">
            <div class="logo-block"><a class="logo" href="#"><img src="img/logo.jpg"></a></div>
            <div class="left">
              <div class="mobile-button"><a href="#" id="menu-open"><span class="hamburger hamburger--collapse"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a></div>
              <div class="main-menu">
                <div class="main-menu-top"><a class="button-close" href="#" id="menu-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">Меню</div>
                </div>
                <ul class="menu mobile-ul">
                  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#">О компани</a></li>
                  <li><a href="#">Проекты</a></li>
                  <li><a href="#">Блог</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="right">
              <div class="lang-mobile-block">
                <div class="mobile-top"><a class="button-close" href="#" id="lang-close"><span class="hamburger hamburger--collapse is-active"><span class="hamburger-box"><span class="hamburger-inner"></span></span></span></a>
                  <div class="title">ЯЗЫК</div>
                </div>
                <ul class="mobile-ul">
                  <li class="active"><a href="#">руский</a></li>
                  <li><a href="#">english</a></li>
                </ul>
              </div><a class="callback button" href="#" id="callback" data-fancybox data-src="#contact-form-block">СДЕЛАТЬ ЗАКАЗ</a>
              <div class="lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
              <div class="mob-lang-box">
                <ul>
                  <li class="active"><a href="#">RU</a></li>
                  <li><a href="#">ENG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="page-top-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col">
              <div class="page-top-left">
                <h2>Проекты</h2>
                <div class="sub-title">мы не просто строим жилье, мы строим его для Вас.</div>
                <div class="page-top-category-block">
                  <ul>
                    <li><a class="active" href="#">Все проекты</a></li>
                    <li><a href="#">Архитектура</a></li>
                    <li><a href="#">Графика</a></li>
                    <li><a href="#">Дизайн интерьера</a></li>
                    <li><a href="#">Предметы интерьера</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col">
              <div class="page-top-right"><img src="img/1.jpg"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="all-project">
        <div class="container">
          <div class="category-block">
            <div class="title"><span>Все проекты</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></div>
            <ul class="dropdown-ul-first">
              <li><a><span>Архитектура</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Графика</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Дизайн интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
              <li><a><span>Предметы интерьера</span><i class="fa fa-angle-right rotate90" aria-hidden="true"></i></a>
                <ul class="dropdown-ul">
                  <li><a>Завершенные</a></li>
                  <li><a>В процессе</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <h3>Все проекты</h3>
          <div class="sub-title">2013/2018</div>
          <div class="tabs-block">
            <div class="tabs-top">
              <div class="title">Все проекты</div><span class="arrow rotate90"><img src="img/arrow-rite.svg"></span>
            </div>
            <ul class="tabs-ul-mobile">
              <li class="active"><a href="#" data-project="project-col">Все проекты</a></li>
              <li class="no-active"><a href="#" data-project="project-completed">Завершенные</a></li>
              <li class="no-active"><a href="#" data-project="project-during">В процессе</a></li>
            </ul>
            <ul class="tabs-ul-desktop">
              <li class="active"><a href="#" data-project="project-col">Все проекты</a></li>
              <li><a href="#" data-project="project-completed">Завершенные</a></li>
              <li><a href="#" data-project="project-during">В процессе</a></li>
            </ul>
          </div>
          <div class="all-project-wrapper">
            <div class="gutter-project"></div>
            <div class="project-block project-masonry" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/2.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry" style="background: url(img/3.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/4.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="project-block project-masonry project-small" style="background: url(img/1.jpg) center/cover no-repeat;">
              <div class="absolute-block">
                <div class="title">Дом в стиле Хай Тек</div>
                <ul>
                  <li><a href="#">ПРЕДМЕТЫ ИНТЕРЬЕРА</a></li>
                  <li><a href="#">ДИЗАЙН ИНТЕРЬЕРА</a></li>
                  <li><a href="#">АРХИТЕКТУРА</a></li>
                </ul><a class="button" href="#">ПОДРОБНЕЕ</a>
              </div>
            </div>
          </div>
          <ul class="pagination">
            <li class="active"><a href="#">01</a></li>
            <li><a href="#">02</a></li>
            <li><a href="#">03</a></li>
            <li><a href="#">04</a></li>
          </ul>
        </div>
      </section>
      <footer><span class="footer-span">Все права защищены, 2017</span></footer>
      <div class="modal-thank" id="thank-modal">
        <div class="title">Спасибо!</div>
        <div class="text">Наш менеджер свяжеться  с Вами в ближайшее время!</div><a class="button color-accent border-accent" href="#" data-fancybox-close>ЗАКРЫТЬ</a>
      </div>
      <div class="form-block modal-contact-form" id="contact-form-block">
        <h4>Свяжитесь с нашим менеджером</h4>
        <form action="" id="contact-form2">
          <div class="input-block">
            <input class="in_name" type="text" name="name" placeholder="Имя*">
          </div>
          <div class="input-block">
            <input class="in_phone" type="text" name="phone" placeholder="Телефон*">
          </div>
          <div class="input-block">
            <input class="in_email" type="email" name="email" placeholder="Email*">
          </div>
          <div class="textarea-block">
            <label>Cообщение:</label>
            <textarea></textarea>
          </div>
          <div class="submit-block">
            <input class="button color-accent border-accent" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
          </div>
        </form>
      </div>
    </div>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

app/page/projects.pug
extends  layout/main

block variables
    - var title = 'Проекты'

block content
    section.page-top-block
        .container
            .row
                div(class="col-lg-4 col-md-4 col-sm-6 col-xs-12 page-top-left-col")
                    .page-top-left
                        h2 Проекты
                        .sub-title мы не просто строим жилье, мы строим его для Вас.
                        .page-top-category-block
                            ul
                                li
                                    a.active( href="#" ) Все проекты
                                li
                                    a( href="#" ) Архитектура
                                li
                                    a( href="#" ) Графика
                                li
                                    a( href="#" ) Дизайн интерьера
                                li
                                    a( href="#" ) Предметы интерьера
                div(class="col-lg-8 col-md-8 col-sm-6 col-xs-12 page-top-right-col")
                    .page-top-right
                        img( src="img/1.jpg" )
    section.all-project
        .container
            .category-block
                .title
                    span Все проекты
                    i(class="fa fa-angle-right" aria-hidden="true").rotate90
                ul.dropdown-ul-first
                    li
                        a
                            span Архитектура
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Графика
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Дизайн интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе
                    li
                        a
                            span Предметы интерьера
                            i(class="fa fa-angle-right" aria-hidden="true").rotate90
                        ul.dropdown-ul
                            li
                                a Завершенные

                            li
                                a В процессе

            h3 Все проекты
            .sub-title 2013/2018
            .tabs-block
                .tabs-top
                    .title Все проекты
                    span.arrow.rotate90
                        img(src="img/arrow-rite.svg")
                ul.tabs-ul-mobile
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li.no-active
                        a(href="#" data-project="project-completed") Завершенные
                    li.no-active
                        a(href="#" data-project="project-during") В процессе
                ul.tabs-ul-desktop
                    li.active
                        a(href="#" data-project="project-col") Все проекты
                    li
                        a(href="#" data-project="project-completed") Завершенные
                    li
                        a(href="#" data-project="project-during") В процессе
            .all-project-wrapper
                .gutter-project
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/2.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/3.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/4.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
                .project-block( style="background: url(img/1.jpg) center/cover no-repeat").project-masonry.project-small
                    .absolute-block
                        .title Дом в стиле Хай Тек
                        ul
                            li
                                a(href="#") ПРЕДМЕТЫ ИНТЕРЬЕРА
                            li
                                a(href="#") ДИЗАЙН ИНТЕРЬЕРА
                            li
                                a(href="#") АРХИТЕКТУРА
                        a( href="#" ).button ПОДРОБНЕЕ
            ul.pagination
                li.active
                    a(href="#") 01
                li
                    a(href="#") 02
                li
                    a(href="#") 03
                li
                    a(href="#") 04
